nav {
  height: 100%; /* 100% Full-height */
  width: 75px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
}

.content {
  margin-left: 75px;
}

.nav-links {
  display: block;
  padding: 6px 8px 6px 16px;
  list-style: none;
}

.nav-links > li > a {
  color: white;
  text-decoration: none;
}
